# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.sqlite3

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Environment
.env
.env.local
.env.example

# VS Code
.vscode/
# Ignore user-uploaded media files
/media/